body {
    text-align: center;
}

#enterDetails {
    float: center; 
    width: 40%;
    margin: 1rem auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #530f80b1;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #1111114d;
    box-shadow: 0 0.5rem 1rem #1111114d;
    padding: 3rem 2rem;
}

input {
    width: 400px;
    height: 40px;
    
}