:root {
    --color-geraldine: #fa6ca2;
    --color-geraldine1: #eb569cc2;
    --color-strikemaster: #8a5082;
    --color-strikemaster2: #8a50825f;
    --color-kimberly: #6f5f90;
    --color-kimberly2: #6f5f90d7;
    --color-ship-cove: #758eb7;
    --color-casper: #a5cad2;
    --color-casper2: #dff9ff;
    --color-casper3: #00ff4c;
    --color-dark: #262229;
    --color-darker: #26222993;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body {
    text-align: center;
    background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(17, 17, 17, 0)),
    to(rgba(17, 17, 17, 0))
    ),
    url(travelbody3.png) no-repeat;
    background: linear- gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.452)),
    url(travelbody3.png) no-repeat;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: 150%; /* zoom out the image by 50% */
}

#enterDetails {
    float: center; 
    width: 40%;
    height: 30%;
    margin: 1rem auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #1a0a25e3;
    font-size: 2rem;

    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #1111114d;
    box-shadow: 0 0.5rem 1rem #1111114d;
    padding: 3rem 2rem;
}

input {
    float: center; 
    width: 80%;
    max-height: 5%;

    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    background: none;
    border: 0.2rem solid var(--color-geraldine);
    font-size: 1.2rem;
    color: var(--color-strikemaster);
    text-transform: none;
    margin-top: 1rem;
    
}

#enterDetails > h1:nth-child(1){
    text-align: center;
    letter-spacing: 25px;
    -webkit-text-stroke: 1.0px rgb(255, 255, 255);
    text-shadow: 0 0 5px #a5cad28f, 
                  0 0 10px #a5cad2a4, 
                  0 0 15px #a5cad29f,
                  0 0 20px #a5cad29c, 
                  0 0 30px #a5cad296, 
                  0 0 40px #a5cad294,
                  0 0 50px #a5cad298, 
                  0 0 75px #a5cad2a8;
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin-top: 4%;
    font-size: 3.7vw;
    display: block;
}

H4 {
        text-align: center;
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.485);
    text-shadow: 0 0 5px #a5cad2aa, 
                0 0 10px #a5cad25b, 
                0 0 20px #a5cad252, 
                0 0 40px #c84bb54e,
                0 0 75px #ed87e656;
    background: -webkit-linear-gradient(rgb(152, 201, 208),#9dbfff, rgb(100, 190, 255), rgb(225, 160, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
    margin-top: 3%;
    color: var(--color-ship-cove);
}

p {
    text-align: center;

    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.485);
    text-shadow: 0 0 5px #a5cad2aa, 
                0 0 10px #a5cad25b, 
                0 0 20px #a5cad252, 
                0 0 40px #c84bb54e,
                0 0 75px #ed87e656;
    background: -webkit-linear-gradient(rgb(152, 201, 208),#9dbfff, rgb(100, 190, 255), rgb(225, 160, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 1.2rem;
    color: var(--color-ship-cove);
}


#insert {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid var(--color-geraldine);
    font-size: 1.6rem;
    color: var(--color-strikemaster);
    text-transform: none;
    background: none;
    margin-top: 3rem;
}

#insert:hover {
    border: 0.2rem solid var(--color-casper3);
    font-size: 1.6rem;
    color: var(--color-geraldine);

}






@media (max-width: 780px) {
body {
    text-align: center;
    width: 100%;
    background-size: 300%; /* zoom out the image by 50% */
}

#enterDetails {
    float: center; 
    width: 80%;
    height: 20%;
    margin: 1rem auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #1a0a25ad;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #1111114d;
    box-shadow: 0 0.5rem 1rem #1111114d;
    padding: 1rem 0rem;
}

input {
    float: center; 
    width: 80%;
    height: 5%;

    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    background: none;
    border: 0.2rem solid var(--color-geraldine);
    font-size: 1.2rem;
    color: var(--color-strikemaster);
    text-transform: none;
    margin-top: 1rem;
    
}

#enterDetails > h1:nth-child(1){
    text-align: center;
    letter-spacing: 15px;
    -webkit-text-stroke: 1.0px rgb(255, 255, 255);
    text-shadow: 0 0 5px #a5cad28f, 
                  0 0 10px #a5cad2a4, 
                  0 0 15px #a5cad29f,
                  0 0 20px #a5cad29c, 
                  0 0 30px #a5cad296, 
                  0 0 40px #a5cad294,
                  0 0 50px #a5cad298, 
                  0 0 75px #a5cad2a8;
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1400;
    margin-top: 4%;
    font-size: 2rem;
    display: block;
}

H4 {
        text-align: center;
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.485);
    text-shadow: 0 0 5px #a5cad2aa, 
                0 0 10px #a5cad25b, 
                0 0 20px #a5cad252, 
                0 0 40px #c84bb54e,
                0 0 75px #ed87e656;
    background: -webkit-linear-gradient(rgb(152, 201, 208),#9dbfff, rgb(100, 190, 255), rgb(225, 160, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
    margin-top: 3%;
    color: var(--color-ship-cove);
}

#enterDetails p {
    text-align: center;

    -webkit-text-stroke: 1.0px rgb(255, 255, 255);
    text-shadow: 0 0 5px #a5cad28f, 
                  0 0 10px #a5cad2a4,                   0 0 15px #a5cad29f,
                  0 0 30px #a5cad296, 
                  0 0 40px #a5cad294,
                  0 0 75px #a5cad2a8;
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin-top: 4%;
    margin: 0;
    font-size: 1rem;
    display: block;
}


#insert {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid var(--color-geraldine);
    font-size: 1.6rem;
    color: var(--color-strikemaster);
    text-transform: none;
    background: none;
    margin-top: 3rem;
}

#insert:hover {
    border: 0.2rem solid var(--color-casper3);
    font-size: 1.6rem;
    color: var(--color-geraldine);

}
}